.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  height: 60vh;
  width: 30%;
  padding: 100px 0;
  text-align: center;
  border: 1.5px solid var(--second-color);
}

.social{
  display: flex;
}

.imgLogo{
  width: 8vw;
  border-radius: 50%;
  border: 3px solid var(--second-color);
}

.linkRouters{
  background-color: white;
  color: var(--second-color);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid var(--first-color);
  text-transform: uppercase;
  width: 20vw;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btnRouters:hover{
  background: var(--first-color);
  color: white;
}

.title{
  width: 15vw;
  font-size: 28px;
  font-weight: bold;
}