.container {
  width: 100%;
  align-items: start;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 200px;
}
.content {
  width: 100%;
}

.arrow{
  margin-right: 5px;
}

.home {
  color: var(--first-color);
  background-color: var(--second-color);
  display: flex;
  padding: 5px 20px;
  border-radius: 24px;
  border: 1px solid var(--second-color);
  margin: 0 50px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.home:hover{
  opacity: 0.6;
}

.home:active{
  opacity: 0.4;
}

.title {
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
  color: var(--second-color);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.paragraph {
  color: var(--second-color);
  text-align: center;
  padding: 0 180px;
  margin-top: 100px;
  letter-spacing: 1.5px;
}

.img {
  width: 20%;
  border-radius: 20px;
  margin-top: 20px;
}

.swiper {
  color: var(--second-color);
  width: 80%;
  height: 60%;
}

.btn {
  color: var(--second-color) !important;
}

.swiper-button-next:after {
  color: var(--second-color);
}
