:root {
  --first-color: #d4bfae;
}

body {
  background-color: #d4bfae;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: var(--first-color);
}

a:hover {
  opacity: 0.5;
}
